body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #6a5acd;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

#slotsList li {
  background-color: white;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #6a5acd;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4b3b9d;
}
